.App{
  height:80vh;
  padding:0px;
  margin:0px;
  box-sizing:border-box;
  display:flex;
  flex-direction:column;
  align-items:center;
  background-image: linear-gradient(#FEC861 40%, white 0%);
}
